{% extends "base.html" %}
{% block base %}

    <div style="background-image: url(../../static/img/img005.jpg);height: 931px">
        <div class="container" style="width: 350px">
          <form class="form-signin" method="post" style="margin-top: 250px">
            <h2 class="form-signin-heading" style="text-align: center;font-weight: bold;color: white">接口测试平台</h2>
            <label for="inputusername" class="sr-only">账号</label>
            <input type="text" id="inputusername" class="form-control" placeholder="username" name="username"></br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"></br>
            <div id="v1" style="color: red;text-align: center">
                {{error}}
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">立即登录</button>
              {% csrf_token %}
          </form>
        </div> <!-- /container -->
    </div>

    <!--
    <form method="post">
        <input type="text" class="" name="username">账号<br>
        <input type="password" name="password">密码<br>
        <div id="v1" style="color: red">
            {{error}}<br>
        </div>
        <input type="submit">
        {% csrf_token %}
    </form>
    -->
{% endblock %}